StudentClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/StudentService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/StudentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/StudentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Student" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:AllStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_AllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllAttendance_InputMessage">
    <wsdl:part name="parameters" element="tns:AllAttendance" />
  </wsdl:message>
  <wsdl:message name="IService1_AllAttendance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAttendance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttendance" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAttendance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAttendance_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttendance" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAttendance_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttendanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllStudents" message="tns:IService1_AllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllStudentsResponse" message="tns:IService1_AllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudent" message="tns:IService1_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentResponse" message="tns:IService1_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStudent" message="tns:IService1_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStudentResponse" message="tns:IService1_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStudent" message="tns:IService1_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStudentResponse" message="tns:IService1_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllAttendance" message="tns:IService1_AllAttendance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllAttendanceResponse" message="tns:IService1_AllAttendance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAttendance" message="tns:IService1_AddAttendance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAttendanceResponse" message="tns:IService1_AddAttendance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAttendance" message="tns:IService1_DeleteAttendance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAttendanceResponse" message="tns:IService1_DeleteAttendance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/AllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAttendance">
      <soap:operation soapAction="http://tempuri.org/IService1/AllAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttendance">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttendance">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/StudentService/StudentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>