StudentClient/Connected Services/ServiceReference1/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Student" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Student" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StdId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendance" nillable="true" type="tns:Attendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendance" nillable="true" type="tns:ArrayOfAttendance" />
  <xs:complexType name="Attendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttendanceId" type="xs:int" />
      <xs:element minOccurs="0" name="StuId" type="xs:int" />
      <xs:element minOccurs="0" name="attendance" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendance" nillable="true" type="tns:Attendance" />
</xs:schema>